[include mainsail.cfg]

[include generic-bigtreetech-xxxx.cfg]


# See docs/Config_Reference.md for a description of parameters.
#MACROS AT THE BOTTOM OF THE CONFIG
 
 #Exhaust Fan, Top left inside of panel, Pins: J56
 #Main Board Cooling Fan Pins: J57
 #Extruder Fan/Fan 0 Pins: J50
 #Parts cooling fan Pins: 

[virtual_sdcard]
path: ~/printer_data/gcodes
#/home/pi/printer_data/gcodes

[display_status]

  
# Motor 0 on schematic
[stepper_x]
step_pin: PF13
dir_pin: !PF12
enable_pin: !PF14
microsteps: 16
rotation_distance: 32
endstop_pin: ^PG6 #J27 on schematic
position_endstop: -20
position_min: -20
position_max: 300
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PC4
#diag_pin: PG6
run_current: 0.800
stealthchop_threshold: 999999

# Motor 1 on schematic
[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
microsteps: 16
rotation_distance: 32
endstop_pin: PG9 #J29 on schematic
position_endstop: -20
position_min: -20
position_max: 300
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PD11
#diag_pin: PG9
run_current: 0.800
stealthchop_threshold: 999999

# Motor 2.1 on schematic
[stepper_z]
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5
microsteps: 16
rotation_distance: 2
#endstop_pin: PG10 #J31 on schematic
endstop_pin:probe:z_virtual_endstop
#position_endstop: 0.5
position_max: 270
position_min: -8

[tmc2209 stepper_z]
uart_pin: PC6
#diag_pin: PG10
run_current: 1.100

# Motor 2.2 on schematic
# The Octopus only has 4 heater outputs which leaves an extra stepper
# This can be used for a second Z stepper, dual_carriage, extruder co-stepper,
# or other accesory such as an MMU
[stepper_z1]
step_pin: PG4
dir_pin: !PC1
enable_pin: PA0
microsteps: 16
rotation_distance: 2
#endstop_pin: PG11
#...

[tmc2209 stepper_z1]
uart_pin: PC7
#diag_pin: PG11
run_current: 1.100

# Motor 4 on schematic
[extruder]  #DRIVER4_Motor_3
step_pin: PF9 
dir_pin: PF10
enable_pin: !PG2
heater_pin: PA2 # HE0
sensor_pin:  PF4
microsteps: 16
#rotation_distance: 33.500
rotation_distance: 8.294816 ##Change this for your printer.
nozzle_diameter: 0.400
filament_diameter: 1.750
sensor_type: ATC Semitec 104NT-4-R025H42G
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
max_extrude_only_distance: 750.0
max_extrude_only_velocity: 75.0
max_extrude_only_accel: 1000.0
#pressure_advance: 0.202
min_extrude_temp: 170
min_temp: 5
max_temp: 300
#

[tmc2209 extruder]
uart_pin: PF2
run_current: .900
hold_current: 0.500
stealthchop_threshold: 250


#[filament_switch_sensor material_0]
#switch_pin: PG12

# Motor 5 on schematic
#[extruder1]
#step_pin: PC13
#dir_pin: PF0
#enable_pin: !PF1
#heater_pin: PA3 # HE1
#sensor_pin: PF5 # T1
#...

#[filament_switch_sensor material_1]
#switch_pin: PG13

# Driver6
#[extruder2]
#step_pin: PE2
#dir_pin: PE3
#enable_pin: !PD4
#heater_pin: PB10 # HE2
#sensor_pin: PF6 # T2
#...

#[filament_switch_sensor material_2]
#switch_pin: PG14

# Driver7
#[extruder3]
#step_pin: PE6
#dir_pin: PA14
#enable_pin: !PE0
#heater_pin: PB11 # HE3
#sensor_pin: PF7 # T3
#...

#[filament_switch_sensor material_3]
#switch_pin: PG15

[heater_bed] 
heater_pin: PA1 #24v output #J44 on schematic
sensor_pin: PF3 #TB #J44 on schematic
sensor_type: Honeywell 100K 135-104LAG-J01
control: pid
pid_Kp: 162.0
pid_Ki: 17.0
pid_Kd: 378.0
min_temp: 0
max_temp: 130

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_370048001451313133353932-if00


[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

########################################
# TMC2209 configuration
########################################

#[tmc2209 extruder1]
#uart_pin: PE4
#run_current: 0.800
#stealthchop_threshold: 999999

#[tmc2209 extruder2]
#uart_pin: PE1
#run_current: 0.800
#stealthchop_threshold: 999999

#[tmc2209 extruder3]
#uart_pin: PD3
#run_current: 0.800
#stealthchop_threshold: 999999
 
#[output_pin beeper]
#pin: EXP1_1

# A [probe] section can be defined instead with a pin: setting identical
# to the sensor_pin: for a bltouch
[bltouch]
sensor_pin: ^PB7 #J43 on schematic
control_pin: PB6
#z_offset: 0.0
x_offset: -42.5
y_offset: -6.1
speed: 50
pin_up_touch_mode_reports_triggered: False
stow_on_each_sample: false
samples: 2
samples_result: median
sample_retract_dist: 7
samples_tolerance: 0.03
samples_tolerance_retries: 3
probe_with_touch_mode: True
set_output_mode: 5V

[bed_mesh]
speed: 120
horizontal_move_z: 15   #initial height for starting bed calibration
mesh_min: 35, 6
mesh_max: 250, 250
probe_count: 5, 3

[safe_z_home]
home_xy_position: 170, 135 # Change coordinates to the center of your print bed
speed: 100
z_hop: 10                 # Move up 10mm after Z homing/referencing
z_hop_speed: 10


[fan_generic parts_cooling]
pin: PD13 #J50 on schematic
max_power: 1.0
shutdown_speed: 0
#kick_start_time: 0.100

[heater_fan my_nozzle_fan]
pin: PE5 #J51 on schematic
max_power: 1.0
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

[heater_fan fan2]
pin: PD12 #J52 on schematic

#[heater_fan fan3]
#pin: PD13

#[heater_fan fan4]
#pin: PD14

#[controller_fan fan5]
#pin: PD15








################################### MACROS ###########

########################################
# BEEP
########################################
[gcode_macro m300]
description: Emits and audible beep.
  Usage: M300 [P<duration>] [S<frequency>]
gcode:
  {% set km = printer["gcode_macro _km_globals"] %}
  {% if "output_pin beeper" in printer %}
    {% set P = (params.P|default(km.beep_duration)|int, 0)|max %}
    {% set S = (params.S|default(km.beep_frequency)|int, 1)|max %}
    SET_PIN PIN=beeper VALUE={
        printer.configfile.settings["output_pin beeper"].scale * 0.5
      } CYCLE_TIME={ 1.0 / S }
    G4 P{P}
    SET_PIN PIN=beeper VALUE=0
  {% else %}
    {action_respond_info(
       "M300 is disabled. To enable create an [output_pin beeper] config.")}
  {% endif %}


########################################
# GCODE MACRO: G29 Bed Leveling
########################################
[gcode_macro G29]
gcode:
  {% set t = params.T|default(0)|float %}
  {% if printer.idle_timeout.state == "Printing" %}
    {action_respond_info("This command cannot be used while printing")}
  {% elif printer.toolhead.homed_axes != "xyz" %}
    G28
    SAVE_GCODE_STATE NAME=G29
    M190 S60
    BED_MESH_CALIBRATE
    SAFE_Z_HOME
  {% endif %}


[gcode_macro WIPE]
description: Wipe the nozzle before printing
 M117 Wiping Nozzle
gcode:
  G28
  M109 S180                     ; soften filament for z homing
  G1 Z10                        ; raise nozzle
  G1 X-19 Y95 F2000            ; move to safe homing position
  M104 S180                     ; wipe temp
  G1 E-.5 F100                   ; suck up XXmm of filament
  G1 X-17 Y90 F3000            ; move above wiper pad
  G1 Z2.5                       ; push nozzle into wiper
  G1 X-17 Y85 F1000            ; slow wipe
  G1 X-17 Y80 F1000            ; slow wipe
  G1 X-17 Y85 F1000            ; slow wipe
  G1 X-15 Y80 F1000            ; slow wipe
  G1 X-17 Y80 F1000            ; slow wipe
  G1 X-15 Y70 F1000            ; slow wipe
  G1 X-17 Y75 F2000            ; fast wipe
  G1 X-15 Y70 F2000            ; fast wipe
  G1 X-17 Y65 F2000            ; fast wipe
  G1 X-15 Y60 F2000            ; fast wipe
  G1 X-17 Y55 F2000            ; fast wipe
  G1 X-15 Y50 F2000            ; fast wipe
  G1 X-17 Y45 F2000            ; fast wipe
  G1 X-15 Y40 F2000            ; fast wipe
  G1 X-17 Y35 F2000            ; fast wipe
  G1 X-15 Y25 F2000            ; fast wipe
  G1 X-17 Y35 F2000            ; fast wipe
  G1 X-15 Y40 Z2 F2000         ; fast wipe
  G1 X-17 Y35 F2000            ; fast wipe
  G1 X-15 Y40 F2000            ; fast wipe
  G1 X-17 Y35 F2000            ; fast wipe
  G1 E1 F75                    ; extrude filament back into the  nozzle
  G1 X-15 Y30 Z1.5 F1000       ; slow wipe
  G1 X-17 Y25 F1000            ; slow wipe
  G1 Z15                        ; raise extruder
  M109 S200                     ; heat to probe temp
  M204 S500                     ; set accel for probing




########################################
# PAUSE
########################################
[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
gcode:
 PAUSE_BASE
  _TOOLHEAD_PARK_PAUSE_CANCEL

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read extrude from  _TOOLHEAD_PARK_PAUSE_CANCEL  macro #####
  {% set extrude = printer['gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL'].extrude %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E{extrude} F2100
    {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}  
  RESUME_BASE {get_params}

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
variable_park: True
gcode:
  ## Move head and retract only if not already in the pause state and park set to true
  {% if printer.pause_resume.is_paused|lower == 'false' and park|lower == 'true'%}
    _TOOLHEAD_PARK_PAUSE_CANCEL
  {% endif %}
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE

[gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL]
description: Helper: park toolhead used in PAUSE and CANCEL_PRINT
variable_extrude: 1.0
gcode:
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  {% set z_park_delta = 2.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - z_park_delta) %}
    {% set z_safe = z_park_delta %}
  {% else %}
    {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E-{extrude} F2100
    {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G91
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
    {% if printer.gcode_move.absolute_coordinates|lower == 'false' %} G91 {% endif %}
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}

######################################################################
# FILAMENT CHANGE
######################################################################

# M600: Filament Change. This macro will pause the printer, move the
# tool to the change position, and retract the filament 50mm. Adjust
# the retraction settings for your own extruder. After filament has
# been changed, the print can be resumed from its previous position
# with the "RESUME" gcode.

[pause_resume]

[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state

[gcode_macro PRIME_NOZZLE]
gcode:
    SAVE_GCODE_STATE NAME=PRIME_NOZZLE_STATE
    M117 Priming Nozzle
    G90                 ; Absolute coordinates.
    M83                 ; Relative extruder mode.
    G92 E0
    ; Move to start of line.
    G1 Z10 F900
    G1 Y3 X55 F1500
    G1 Z0.2 F900
    ; Print the line.
    G91                ; Relative coordinates.
    G1 X100 E25 F1000  ; Extrude filament 25mm (how much it retracted in PRINT_END).
    G1 Y2 F1000
    G1 X-100 E9 F1000    ; Print second part of the line.
    G1 Y-1 F1000
    RESTORE_GCODE_STATE NAME=PRIME_NOZZLE_STATE

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 1.550
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.004375, 0.067812, 0.110625, 0.153125, 0.229375
#*# 	0.115000, 0.059375, -0.030938, -0.126250, -0.219688
#*# 	0.366250, 0.151250, -0.103438, -0.391250, -0.648438
#*# x_count = 5
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 35.0
#*# max_x = 250.0
#*# min_y = 6.0
#*# max_y = 250.00000000000003
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 27.618
#*# pid_ki = 3.682
#*# pid_kd = 51.783
